@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;200;300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'IBM Plex Sans';
    box-sizing: border-box;
}
button{
    display: flex;
    align-items: center;
}

body{
    width: 1110px;
    margin-left: auto;
    margin-right: auto;
}
.first{
    margin-top: 257px;
}
.second{
    margin-top: 96px;
}
/*header*/
.btn_text{
    padding-left: 17px;
    text-align: left;
}
.btn_image{
    margin-right: 12px;
    margin-left: 47px;
    border-radius: 4px;
    width: 20px;
    height: 20px;

}
.btn_image_first{
    background: #DEDEDE;
}
.head{
    padding: 36px 0;
}
.head_container{
    display: flex;
    align-items: center;
}
.head_logo{
    width: 58px;
    height: 58px;
    margin-right: auto;
}
.head_link_pos{
    padding-left: 783px;
    padding-right: 40px;
}
.head_link{
    text-decoration: none;
    color: black;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    
    letter-spacing: -0.2px;
}
.btn{
    border: none;
    border-radius: 5px;
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    width: 160px;
    height: 44px;
    background: #F3F3F3;
    letter-spacing: -0.2px;
}
.btn_first:hover{
    background-color: #eaeaea;
}
.btn_second:hover{
    background-color: #be644e;
}

/*hero*/

.hero_title{
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 64px;
    line-height: 78px;
    letter-spacing: -1.6px;
    color: #141414;
    margin-top: 223px;
}

.hero{
    text-align: center;
}

.btn_second{
    background: #FF8364; 
    margin: 0 auto;
    margin-top: 37px;
}

.hero_text{
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    
    letter-spacing: -0.2px;
    padding-top: 24px;
    color: #616161;
}

/* info  */

.info_container{
    display: flex;
    align-items: top;
}
.info_first{
    margin-top: 113px;
    margin-left: 165px;
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 50px;
    letter-spacing: -0.8px;
    color: #141414;
}
.info_second{
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.1px;
    color: #616161;
    padding-top: 122px;
    margin-left: 125px;
}

/* new  */

.new{
    text-align: center;
}

.new_lable{
    padding-top: 113px;
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    letter-spacing: -0.2px;
    color: #616161;
}

.new_title{
    margin-top: 18px;
    height: 120px;
    width: 730px;
    margin: 0 auto;
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 60px;
    text-align: center;
    letter-spacing: -1.2px;
    color: #141414;
}

.new_text{
    width: 730px;
    height: 150px;
    padding-top: 43px;
    margin: 0 auto;
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    letter-spacing: -0.2px;
    color: #616161;
}
.new_link{
    padding-top: 71px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    width: 110px;
    height: 22px;
    /*padding: 0 668px;*/
}

.link_end{
    text-decoration: none;
}

.new_link_text{
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    
    text-align: right;
    letter-spacing: -0.2px;
    color: #FF8364;
}

.new_img{
    padding-left: 6px;
}
